.main-content{
    background-color: white;
    width:100%;
    min-height:400px;
    padding:10px;
}
.search-button-div{
    display:flex;
    justify-content:left;
    margin-top:20px;
    margin-left:30px;
}
.table-div{
    margin-top:20px;
}

th{
    height:15px;
    background-color:rgb(76, 177, 236);
    text-align:center;
    vertical-align:middle;
}

tbody{
    height:13px;
    border-bottom:1px solid rgb(196, 202, 202);
}
 
.name-data, .price-data, .status-data, .furnishing-status-data{
    text-align:center;
}

.address-data{
    text-align:left;
    vertical-align:top;
    word-wrap: break-word;
    max-width:60px;
}

.name-head, .price-head, .status-head, .furnishing-status-head{
    text-align:center;
}

.address-head{
    text-align:left;
    vertical-align:top;
    word-wrap: break-word;
    max-width:60px;
}

.pagination-div{
    display:flex;
    justify-content:space-between;
    vertical-align: middle;
    margin-top:10px;
}

.input-div{
    display:flex;
    flex:wrap;
    margin-left:15px;
    justify-content:flex-start;
}

.price-input{
    flex:2;
    margin-right:15px;
}

.status-input{
    flex:2;
    margin-right:15px;
}

.furnishing-status-input{
    flex:2;
    margin-right:15px;
}

.lat-input{
    flex:1;
    margin-right:15px;
}

.long-input{
    flex:1;
    margin-right:15px;
}